.container {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  max-width: 20rem;
  width: 100%;
  cursor: pointer;
}

.btn--primary {
  margin-top: 3rem;
  border: none;
  background-color: var(--color-primary);
  border-radius: 1rem;
  font-size: 1.8rem;
  color: #fff;
  padding: 0.9rem 0 1rem;
  line-height: 1;
}
