.row {
  max-width: var(--grid-row-width-max);
  margin: 0 auto;
  display: flex;
  align-items: stretch;

  .col {
    &:not(:last-child) {
      margin-right: var(--grid-gutter-width);
    }
  }

  .col-1-of-2 {
    flex: 0.5;
  }

  .col-1-of-4 {
    flex: 0.25;
  }

  .col-span-7-of-12 {
    flex: 0.58;
  }

  .col-span-5-of-12 {
    flex: 0.41;
  }
}
