.book-picker {
  max-width: 55%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: 1rem 0;
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

  &__picker {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
  }

  &__text {
    font-size: 2rem;
    color: var(--color-secondary);
    font-weight: var(--font-weight-default);
    margin: 1.5rem;
    display: inline-block;
  }

  &__fix-span {
    display: inline-block;
    min-width: 3rem;
  }

  &__date {
    cursor: default;
    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__triangle {
    height: 1.3rem;
    width: 1.9rem;

    // margin-right: 3rem;
    cursor: pointer;
    &--left {
      transform: rotate(90deg);
    }
    &--right {
      transform: rotate(270deg);
    }
  }

  hr {
    border: 1px solid #e9eaf1;
    margin: 0 1.5rem;
  }

  &__btn {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1rem 0 -1rem 2rem;
    padding: 0 2.2rem;
  }

  &__date-picker {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    position: absolute;
    top: calc((-100%) + (-2rem));
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease;

    &--active {
      transform: translateY(calc((-100%) + (-2rem)));
    }
  }
}
