.sign-form {
  &__logo {
    height: 3.1rem;
  }

  &__heading-primary {
    margin-top: 3rem;
  }

  .btn--google {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: var(--default-font-size);
    background-color: #fff;
    color: var(--color-secondary);
    margin: 2rem auto 0;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
  }

  .google-logo {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }

  &__or-div {
    color: red;
    margin: 2rem auto 0;
    max-width: 30rem;
    position: relative;

    hr {
      border: 1px solid var(--color-background-dark);
      margin-top: 1rem;
    }

    p {
      color: var(--color-background-dark);
      background-color: var(--color-background);
      display: inline-block;
      font-size: 1.4rem;
      padding-left: 1rem;
      padding-right: 1rem;
      position: absolute;
      top: -1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__password-control {
    display: flex;
    max-width: 30rem;
    justify-content: space-between;
    margin: 1rem auto 0;
    font-size: 1.2rem;
    font-weight: var(--default-font-size);
    color: var(--color-background-dark);
    text-decoration: underline;
    cursor: pointer;
  }

  .btn--primary {
    background-color: var(--color-primary);
    color: #fff;
    font-size: 1.8rem;
    font-weight: var(--default-font-size);
    border-radius: 3rem;
    margin-top: 3rem;
  }

  &__bottom-text {
    max-width: 22rem;
    margin: 1.5rem auto 0;
    font-size: 1.2rem;
    font-weight: var(--default-font-size);
    color: var(--color-background-dark);

    span {
      text-decoration: underline;
    }
  }
}
