:root {
  /* variables */
  --color-primary: #ff643d;
  --color-secondary: #040e5a;
  --color-white: #fdfdfd;
  --color-background: #f8faff;
  --color-background-variant-1: #f0f3ff;
  --color-background-variant-2: #b5b9d5;
  --font-weight-default: 300;
  --font-weight-bold: 500;
  --grid-row-width-max: 1088px;
  --grid-gutter-width: 4rem;
}
