.account-hr {
  border: 1px solid var(--color-background-variant-2);
}
.account {
  .row {
    align-items: stretch;
  }

  .col-side {
    padding: 1.5rem 0;
    position: relative;

    hr {
      transform: rotate(180deg);
      position: absolute;
      top: 0;
      right: 0;
      border: 1px solid var(--color-background-variant-2);
      height: 100%;
    }
    // background-color: red;
  }

  &__side-link {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    letter-spacing: 1px;
    margin-top: 1rem;
    fill: var(--color-background-variant-2);
    color: var(--color-background-variant-2);
    cursor: pointer;
    transition: all 0.5s;

    &:hover:not(:last-child),
    &--active {
      position: relative;
      fill: var(--color-secondary);
      color: var(--color-secondary);
      &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 0.5rem;
        background-color: var(--color-primary);
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    &--logout {
      margin-bottom: 2rem;
      fill: rgba(255, 100, 61, 0.5);
      color: rgba(255, 100, 61, 0.5);
      &:hover {
        fill: rgba(255, 100, 61, 0.9);
        color: rgba(255, 100, 61, 0.9);
      }
    }
  }

  &__side-svg {
    margin-right: 2rem;
    &--1 {
      width: 2.19rem;
      height: 2.4rem;
    }
    &--2 {
      width: 2.5rem;
      height: 2.5rem;
    }
    &--3 {
      width: 2.781rem;
      height: 1.955rem;
    }
    &--4 {
      width: 2.307rem;
      height: 2.557rem;
    }
    &--5 {
      width: 2.707rem;
      height: 2.59rem;
    }
  }

  &__side-text {
    font-size: 1.8rem;
  }

  &__main-container {
    padding: 3rem 0 0 7.5rem;

    .btn {
      display: block;
      margin: 5rem auto;
    }
  }

  &__row {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    & > * {
      flex: 0.45;
    }
  }
}

.account-intro {
  display: flex;
  align-items: center;
  &__user-photo {
    position: relative;
  }

  &__photo {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    // background-color: cadetblue;
    border: none;
  }

  &__change {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3rem;
    width: 3rem;
  }

  &__user-text {
    margin-left: 2.2rem;
    color: var(--color-secondary);
  }

  &__name {
    font-size: 1.8rem;
    span {
      position: relative;
      &::before {
        display: block;
        content: "";
        position: absolute;
        bottom: 0.55rem;
        left: 0.6rem;
        width: 95%;
        height: 0.3rem;
        background-color: var(--color-primary);
        z-index: -1;
      }
    }
  }

  &__address {
    font-size: 1.4rem;
    font-weight: 300;
    margin-left: 0.3rem;
  }
}

.account-points {
  flex: 0;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1.5rem;

  &__point {
    font-size: 2.8rem;
  }

  &__text {
    font-size: 1.8rem;
    font-weight: 300;
  }
}
