/* BASIC STYLING */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: var(--color-background);
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-weight-default);
}

main {
  max-width: 1366px;
  margin: 0 auto;
}

:root {
  /* variables */
  --color-primary: #ff643d;
  --color-secondary: #040e5a;
  --color-background: #f8faff;
  --color-background-variant-1: #f0f3ff;
  --font-weight-default: 500;
}
