/* BASIC SETTINGS */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: #f3f8ff;
  overflow: hidden;
  overflow-y: hidden;
}

body {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  overflow: hidden;
}

main {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

:root {
  --color-primary: #1e3e65;
  --color-background: #f3f8ff;
  --color-white: #ffffff;
  --color-accent: #2784f7;
}
